@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-toggle {
  position: relative;
  width: 40px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0 5px;
}

.icon {
  font-size: 16px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon-light {
  color: #ffdd57;
  opacity: 1;
  transform: translateX(0);
}

.icon-dark {
  color: #4b5563;
  opacity: 0;
  transform: translateX(-10px);
}

.dark .theme-toggle {
  background-color: #33333300;
  border-color: #555;
}

.dark .icon-light {
  opacity: 0;
  transform: translateX(10px);
}

.dark .icon-dark {
  opacity: 1;
  transform: translateX(0);
}

#mobile-menu.hidden {
  display: none;
}

#mobile-menu.block {
  display: block;
}

.flex.justify-start {
  grid-column: span 53;
  display: flex;
  justify-content: start;
}

.icon-size {
  font-size: 20px;
}
